
body{
    
    background-color: rgb(6, 65, 65);
    display: block;
    margin:0 20% ;
    padding: 0%;
 
    .gender{
        color:aqua;
        font-size: x-large;
    } 
    .head{
        color: rgb(240, 245, 247);
        background-color: rgb(15, 75, 99);
        width: 6.5cm;
        border-radius: 5px;
    }
    
    .form div input{
        background-color: cadetblue;
        color: white;
        border-radius:6px;
        display: block;
        width: 16cm;
        height: 0.3cm;
        padding: 2%;
    }
    .form div label{
        display: block;
        color: aqua;
        font-size:x-large
    }

    .form div select{
        background-color: cadetblue;
    }
    .form div textarea{
        background-color: cadetblue;
        color:white
    }
    .form div button{
        background-color: dodgerblue;
    }

}